
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <base href="http://demos.telerik.com/kendo-ui/multiselect/index">
    <style>
        html {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.dataviz.default.min.css" />

    <script src="http://cdn.kendostatic.com/2014.3.1119/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2014.3.1119/js/kendo.all.min.js"></script>
</head>
<body>

    <div id="example">
        <div class="demo-section k-header">
            <h4>u-Severance2 Users</h4>
            <select id="products"></select>
        </div>
        <script>
            $(document).ready(function () {
                $("#products").kendoMultiSelect({
                    placeholder: "Select users...",
                    autoBind: false,
                    dataSource: {
                        type: "json",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "http://pushservice-1.apphb.com/api/register/",
                            }
                        }
                    }
                });
            });
        </script>
        <style scoped>
            .demo-section {
                width: 400px;
            }
        </style>
    </div>


</body>
</html>
